@using ramenHouse.Data
@using ramenHouse.ViewModels

@model HomeViewModel


<section id="hero-section" class="grid-cols-4 grid-rows-4 m-auto grid w-full md:w-10/12 xl:w-8/12">
    <div id="hero-text" class="col-span-3 row-span-2 self-center">
        
        

        <p>Etiam lobortis est id nisl dignissim porttitor vitae ac augue. Food</p>
        <p>Where Each Plate Weaves a Story of Culinary Mastery and Passionate Craftsmanship</p>
       
        
    </div>  
    <div class="col-start-4 col-span-1 row-start-1 row-span-2">
    <img src="@AppConstants.placeHolderImgUrl" id="pic-right-up"  class="h-full w-full rounded-lg object-contain shadow-sm"></img>

    </div>
    <div class="col-start-3 col-span-1 row-start-3 row-span-2">
        <img src="@AppConstants.placeHolderImgUrl" id="pic-left-down" class="h-full w-full rounded-lg object-contain shadow-sm"></img>

    </div>
    <div class="col-start-1 col-span-2 row-start-3 row-span-2 ml-8 w-fit self-start justify-self-start">
        <button type="button" class="rounded-full border bg-yellow-700 px-4 py-2 text-white">Click to try</button>
    </div>
    
</section>

<section id="featured-selections" class="mx-auto my-32 w-full md:w-11/12 xl:w-9/12">
    <h1 class="text-center">Our featured <span class="text-yellow-700">selections</span> </h1>
    <div id="dish-img-mosaic" class="grid-cols-12 grid-rols-12 grid gap-2">
        <div class="col-start-1 col-end-4 row-start-4 row-end-10 border">
            <a href="@(Model.featuredMeals[0].MealId != null ? $"menu/detail/{Model.featuredMeals[0].MealId}" : "")">
                <img src="@Model.featuredMeals[0].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>
        <div class="col-start-4 col-end-7 row-start-3 row-end-7">
            <a href="@(Model.featuredMeals[1].MealId != null ? $"menu/detail/{Model.featuredMeals[1].MealId}" : "")">
            <img src="@Model.featuredMeals[1].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>
        
        <div class="col-start-7 col-end-11 row-start-2 row-end-7">
            <a href="@(Model.featuredMeals[2].MealId != null ? $"menu/detail/{Model.featuredMeals[2].MealId}" : "")">
            <img src="@Model.featuredMeals[2].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>
        <div class="col-start-11 row-start-5 row-end-7 col-end-13">
            <a href="@(Model.featuredMeals[3].MealId != null ? $"menu/detail/{Model.featuredMeals[3].MealId}" : "")">
            <img src="@Model.featuredMeals[3].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>
        <div class="col-start-4 col-end-10 row-start-7 row-end-12">
            <a href="@(Model.featuredMeals[4].MealId != null ? $"menu/detail/{Model.featuredMeals[4].MealId}" : "")">
            <img src="@Model.featuredMeals[4].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>
        <div class="col-start-10 row-start-7 row-end-10 col-end-13">
            <a href="@(Model.featuredMeals[5].MealId != null ? $"menu/detail/{Model.featuredMeals[5].MealId}" : "")">
            <img src="@Model.featuredMeals[5].ImageUrl" alt="Alternate Text" class="h-full w-full border object-cover" />
            </a>
        </div>



    </div>

   
    

</section>

<section id="special-offer" class="mx-auto my-32 w-full md:w-10/12 xl:w-8/12">
    <h1 class="mb-4 text-center">Daily special <span class="text-yellow-700">Offers</span></h1>
    <div class="flex justify-around">
        <div class="border-8 card-aspect-ratio w-1/4 border-yellow-700">
            <a href="@(Model.onSellMeals[0].MealId != null ? $"menu/detail/{Model.onSellMeals[0].MealId}" : "")">
            <img src="@Model.onSellMeals[0].ImageUrl" class="h-full w-full object-cover" />
            </a>
        </div>
        <div class="border-8 card-aspect-ratio w-1/4 border-yellow-700">
            <a href="@(Model.onSellMeals[1].MealId != null ? $"menu/detail/{Model.onSellMeals[1].MealId}" : "")">
            <img src="@Model.onSellMeals[1].ImageUrl" class="h-full w-full object-cover" />
            </a>
        </div>
        <div class="border-8 card-aspect-ratio w-1/4 border-yellow-700">
            <a href="@(Model.onSellMeals[2].MealId != null ? $"menu/detail/{Model.onSellMeals[2].MealId}" : "")">
            <img src="@Model.onSellMeals[2].ImageUrl" class="h-full w-full object-cover" />
            </a>
        </div>

    </div>
</section>

<section id="about" class="mx-auto my-32 w-full md:w-10/12 xl:w-8/12">
    <div class="flex items-center justify-around">
        <div class="aspect-square w-3/12 overflow-hidden rounded-full border">
            <img src="@AppConstants.placeHolderImgUrl" class="h-full w-full object-contain" />
        </div>
        <div class="w-6/12">
            <p>
                What is Lorem Ipsum?
            </p>
            <p class="text-wrap">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>

</section>
    