@using ramenHouse.ViewModels
@model MenuViewModel

<div id="menu-section-container" class="m-auto w-full md:w-10/12 xl:w-8/12">

    <div id="menu-filter" class="flex py-4">
        @foreach (var category in Model.Categories)
        {
            <div class="me-4 rounded-full border border-yellow-700 hover:text-white hover:bg-yellow-700">
                <a href="#" ><p class="px-4 py-2">@category</p></a>
                
            </div>
        }
</div>
<div id="menu-grid-container" class="grid-cols-3 grid gap-3">

    @foreach (var meal in Model.Meals)
    {
            <div id="grid-item" class="flex flex-col border shadow-md">
            <img src="@meal.ImageUrl" class="h-3/5 object-cover" />
            <div class="grid-cols-6 m-3 grid h-2/5">
                <h1 class="col-span-4">@meal.Title</h1>
                <h1 class="col-span-2">@meal.Rating</h1>
                <h1 class="col-span-6 row-span-2">@meal.Description</h1>
                <h1 class="col-span-3">@(meal.Price) €</h1>
                <h1 class="col-span-3">@meal.Allergies</h1>
            </div>
        </div>

    }






</div>
</div>